  @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

  *
  {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

section
{
    position: relative;
    width: 100%;
    height: 80vh;
    background:#e00d8f;
}

.sobre
{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #111;
}

.boasvindas{
    color: #FFFFFF;
    padding-left: 100px;
    box-sizing: border-box;
}



.wave
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(assets/img/wave.png);
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}

.titulo{
    padding: 50px;
        color: aliceblue;
        box-sizing: border-box;
	color: #FFFFFF;
	font-family: 'Handlee', cursive;
	font-size: 90%;
	font-weight: 400;
	line-height: 97px;
	max-width: 800px;
	text-align: center;
	text-transform: uppercase;
    justify-content: center;

}

.wave#wave1
{
    z-index: 1000;
    opacity: 1;
    background-position: 400px;

}

.wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    background-position: 300px;
    
}

.wave#wave3 
{
    z-index: 998;
    opacity: 0.2;
    background-position: 200px;
    
}

.wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    background-position: 100px;

    
}

@keyframes animate
{
    0%,100%
    {
        transform: translateY(0px);

    }

    50%
    {
        transform: translateY(10px);
        
    }
}

.sec
{
    padding: 100px;

}

.sec h2
{
    font-size: 2em;
    color: #111;

}

.boasvindas p

{
    white-space: wrap;

}
.sec p
{
    font-size: 2em;
    color: #111;
    align-content: center;

}

footer .wavefooter
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: green url(assets/img/wavefooter.png);
    background-size: 1000px 100px;
}

.wavefooter#wavefooter1
{
    z-index: 1000;
    opacity: 1;
    background-position: 400px;
    bottom: 0;
    animation: animatewavefooter 4s linear infinite;

}

@keyframes animatewavefooter
{
    0%
    {
        background-position-x: 1000px;
    }
    
    
}

.wavefooter#wavefooter2
{
    z-index: 999;
    opacity: 0.5;
    background-position: 300px;
    bottom: 0;
    animation: animatewavefooter 4s linear infinite;

    
}

.wavefooter#wavefooter3
{
    z-index: 998;
    opacity: 0.2;
    background-position: 200px;
    bottom: 0;
    animation: animatewavefooter 4s linear infinite;

    
}

.wavefooter#wavefooter4
{
    z-index: 999;
    opacity: 0.7;
    background-position: 100px;
    bottom: 0;
    animation: animatewavefooter 4s linear infinite;


    
}

#video1
{
    position: relative;

}

#fotos
{
    position: relative;
    width: 100%;
    background:#cafffb;

}

#banner
{
    position: relative;
    padding-right: 50px;
    float: right;
}



.button-19 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 1.8vh;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: wrap;
    width: 50%;
  }


  .button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19:main,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
  .button-19:active {
    border-width: 4px 0 0;
    background: none;
  }


  .button-20 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: wrap;
    width: 50%;
  }
  
  .button-20:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-20:main,
  .button-20:focus {
    user-select: auto;
  }
  
  .button-20:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-20:disabled {
    cursor: auto;
  }
  
  .button-20:active {
    border-width: 4px 0 0;
    background: none;
  }